<% include ./partials/_header %>

  <form action="/register" method="POST">
    <div class="form-group">
      <label for="Email">Email:</label>
      <input if="Email" class="form-control" type="email" name="email" placeholder="xyw@gmail.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="pass">Password:</label>
      <input id="pass" class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>


<% include ./partials/_footer %>