<% include ./partials/_header %>

  <form action="/register" method="POST">
    <div class="form-group">
      <input type="email" name="email" placeholder="xyw@gmail.com" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>


<% include ./partials/_footer %>