<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ./partials/_header %>
    <ul>
      <% for(var url in urls) { %>
        <li><%= url %>: <%= urls[url] %></li>
        <form action="/urls/<%= url %>/delete" method="POST">
          <input type="submit">
        </form>
      <% }; %>
    </ul>
    <a href="/urls/new">Shortening</a>
  </body>
</html>