<% include ./partials/_header %>

<!-- JUMBOTRON -->

  <% if (!user) { %>
    <h1>Please Login First</h1>
  <% } else { %>
    <ul>
      <% for(var url in urls) { %>
        <li><%= url %>: <%= urls[url] %></li>
        <a href="/urls/<%= url %>">Edit</a>
        <form action="/urls/<%= url %>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      <% }; %>
    </ul>
  <% } %>
    <a href="/urls/new">Shortening</a>

<% include ./partials/_footer %>
