<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ./partials/_header %>
    <h2>This is your shortened URL</h2>
      <h1><%= shortURL %></h1>

    <h2>This is your original URL</h2>
      <h1><%= urls[shortURL] %></h1>

    <form action="/urls/<%= shortURL %>" method="POST">
      <input type="text" name="longURL" placeholder="http://...">
      <input type="submit" value="Update">
    </form>


    <a href="/urls">Back</a>
  </body>
</html>